
.row-widget.stSelectbox{
    max-width: 300px; 


}

.st-emotion-cache-1on073z.e1b2p2ww0{
    max-width: 600px; 
    margin: auto;
}

.stDateInput{
    max-width: 300px; 
    margin: auto;
}
.st-emotion-cache-keje6w.e1f1d6gn3{
    max-width: 300px; 
    margin: auto;
}
